.container {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  height: 5px;
  background-color: rgba(200, 200, 200, 0.2);
}

.bar {
  overflow: hidden;
  height: 100%;
  background-color: var(--primary-color);
  text-indent: -9999px;
  transition: width 0.3s;
}
